body {
  margin: 0;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  display: flex;
}

canvas {
  border: 2px solid black;
}

#chat {
  width: 200px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  overflow-y: auto;
}

#chatInput {
  border: none;
  padding: 5px;
}

#controls {
  margin-top: 10px;
}
